$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.header-md .navbar-brand i, .header-md .navbar-nav i, i {
	line-height: inherit; 
}

$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons.scss";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "./theme/app.scss";

.app__container {
	@extend .hbox;
	@extend .stretch;
}

.app__content {
	width: 100%;
	height: 100%;
}

#masonry .item {
	overflow: hidden;
	width: 16.6666666667%;
	height: 0;
	padding-bottom: 16.6666666667%;
}

#masonry .item-large {
	width: 33.3333333333%;
	padding-bottom: 33.3333333333%;
}

#masonry .item-wide {
	width: 33.3333333333%;
}

#masonry .item-tall {
	padding-bottom: 33.3333333333%;
}